@page
@model WebApp.Pages.Accounts.DetailsModel

<div>
    <h4>Account</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.User_ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.User_ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Server_DateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Server_DateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.DateTime_UTC)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.DateTime_UTC)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Update_DateTime_UTC)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Update_DateTime_UTC)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Account_Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Account_Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Balance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Balance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Currency)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Currency)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Account.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Account.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Account?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
